@import "./null.scss";
@import "./colors.scss";
@import "react-toastify/dist/ReactToastify.css";
.app {
  background-color: var(--background);
  min-height: 100%;
  color: var(--text);
  padding-bottom: 10px;
  position: relative;
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 20px;
}

label {
  font-size: 18px;
  color: var(--subTitle);
}
