.app {
  --background: #2b2a2b;
  --text: #fff;
  --subTitle: #ffffffd2;
  --field: #1b1b1b;
  --fieldBorder: #585858;
  --btnBackground: #7a0ecd;
  --error: #ff0000;
  --hover: grey;
  --btnText: #fff;
  --success: #177a4c;
}

.light {
  --background: #f4f4f4;
  --text: #000000;
  --subTitle: #000000de;
  --field: #fff;
  --fieldBorder: #585858;
  --btnBackground: #7a0ecd;
  --btnText: #fff;
  --hover: grey;
  --error: #ff0000;
  --success: #177a4c;
}
