@import "App/styles/colors.scss";
.drop_down {
  width: 100%;
}

.button,
.input {
  width: 100%;
  background-color: $field;
  height: 40px;
  border: 1px solid $fieldBorder;
  border-radius: 8px;
  padding-left: 5px;
  font-size: 20px;
  color: $text;
  font-size: 22px;
}

.button {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.values {
  position: relative;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: $field;
  max-height: 200px;
  overflow: auto;
  & li {
    cursor: pointer;
    padding: 5px 0 5px 10px;
    font-size: 22px;
    &:hover {
      background-color: $fieldBorder;
    }
  }
}
