.menu_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid var(--fieldBorder);
  border-radius: 10px;
  padding: 10px;
}

.image {
  width: 100%;
  padding-top: 266/407 * 100%;
  position: relative;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  & .leaf {
    z-index: 2;
    width: 15%;
    height: 22%;
    left: 2%;
    top: 2%;
  }
}

.title {
  font-size: 26px;
  font-weight: 600;
}
.categories {
  color: var(--subTitle);
}

.rating {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.cost {
  margin-top: auto;
  text-align: center;
  font-size: 22px;
}

.buy_menu {
  display: flex;
  justify-content: center;
  & button {
    padding: 3px 0;
    background-color: var(--btnBackground);
    text-align: center;
    width: 100%;
    color: var(--text);
    font-size: 26px;
    border-radius: 5px;
  }
}
