@import "App/styles/colors.scss";
.menu_item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid $fieldBorder;
  border-radius: 10px;
  padding: 10px;
}

.image {
  width: 100%;
  padding-top: 266/407 * 100%;
  position: relative;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 26px;
  font-weight: 600;
}
.categories {
  color: $subTitle;
}

.rating {
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
}

.cost {
  margin-top: auto;
  text-align: center;
  font-size: 22px;
}

.buy_menu {
  display: flex;
  justify-content: center;
  & button {
    padding: 3px 0;
    background-color: $btnBackground;
    text-align: center;
    width: 100%;
    color: $text;
    font-size: 26px;
  }
  & * {
    border-radius: 5px;
  }
}

.change_menu {
  background-color: $btnBackground;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
