.dishes_list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .dishes_list {
    grid-template-rows: repeat(auto-fit, 150px);
  }
}

@media (min-width: 1024px) {
  .dishes_list {
    grid-template-rows: repeat(auto-fit, 200px);
  }
}
