.cart {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  font-size: 32px;
  font-weight: 600;
}

.link {
  border-radius: 8px;
  align-self: center;
  padding: 10px;
  background-color: var(--btnBackground);
  font-size: 26px;
  border: var(--fieldBorder);
  color: var(--btnText) !important;
  display: flex;
  gap: 30px;
}
