@import "App/styles/colors.scss";
.menu_selector {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.parameter {
  width: 95%;
  position: relative;
  background-color: $background;
  & * {
    font-size: 26px;
  }
}

.absolute_list {
  position: absolute;
  z-index: 3;
}
.vegeterian {
  width: 95%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  & label {
    font-size: 20px;
  }
}

@media (min-width: 379px) {
  .vegeterian {
    & label {
      font-size: 26px;
    }
  }
}

@media (min-width: 768px) {
  .menu_selector {
    justify-content: space-around;
    flex-direction: row;
  }
  .parameter,
  .vegeterian {
    width: auto;
  }
  .absolute_list {
    width: 120%;
    left: -10%;
  }
}
