.order_item {
  border: 2px solid var(--fieldBorder);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & * {
    line-height: 1.3em;
    &:first-child {
      text-decoration: underline;
    }
    text-align: center;
    font-size: 22px;
  }
}

.delivery {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
  & * {
    text-align: center;
    font-size: 20px;
  }
  & button {
    text-align: center;
    background-color: var(--success);
    padding: 10px;
    font-weight: 600;
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .order_item {
    flex-direction: row;
  }
  .description {
    & * {
      line-height: 1em;
      text-align: left;
    }
  }
  .delivery {
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .delivery {
    & span {
      font-size: 22px;
    }
    & button {
      font-size: 26px;
    }
  }
}
