@import "App/styles/colors.scss";

.addressSelect {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid $fieldBorder;
}

.title {
  font-size: 32px;
  font-weight: 700;
}
