.panel {
  background-color: var(--btnBackground);
  border-radius: 5px;
  overflow: hidden;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  & button {
    padding: 3px 0;
    background-color: var(--btnBackground);
    text-align: center;
    width: 100%;
    font-size: 26px;
    color: var(--text);
  }
  & span {
    font-size: 22px;
  }
}
